language: python

python:
  - '2.7'
  - '3.4'
  - '3.5'

sudo: true

addons:
  postgresql: "9.6"

env:
  - DB_NAME=raster_test PYTHONPATH=$PYTHONPATH:$PWD DJANGO_SETTINGS_MODULE=tests.testproj.settings

before_script:
  - sudo apt-get install -y -q postgresql-9.6-postgis-2.3 postgis
  - psql -c 'create database raster_test' -U postgres
  - psql -c 'create extension postgis' -U postgres -d raster_test

install:
  - pip install -e .
  - pip install psycopg2==2.7.3.2
  - pip install flake8==3.5.0
  - pip install isort==4.2.15
  - pip install coverage==4.4
  - pip install coveralls

script: coverage run --include="raster/*" $(which django-admin.py) test

after_success: coveralls

notifications:
  email: false
